#layout {
	height: 985px;
	width: 100%;
}

#page-heading {
	display: no-repeat;
}

.slider {
	background-image: url('../images/slider.jpg');
	height: 390px;
	width: 100%;
}



/* Black Bar stuff */


#black-bar {
	background-color: black;
	width: 100%;
	height: 78px;
	display: inline-block;
	text-align: center;
}

#icons {
	line-height: 78px;
}

#black-bar a {
	height: 56px;
	width: 56px;
	position: relative;
	margin-left: 50px;
	text-align: center;
}

#black-bar a.quote-icon {
	background: url('../images/quote.gif') no-repeat center left;
	padding: 10px 20px 0 75px;
}

#black-bar a.special-icon {
	background: url('../images/special.gif') no-repeat center left;
	padding: 10px 20px 0 75px;
}

#black-bar a.service-icon {
	background: url('../images/service.gif') no-repeat center left;
	padding: 10px 20px 0 75px;
}

#black-bar a.approved-icon {
	background: url('../images/approved.gif') no-repeat center left;
	padding: 10px 20px 0 75px;
}

#black-bar a.save-icon {
	background: url('../images/save.gif') no-repeat center left;
	padding: 10px 20px 0 75px;
}




/* Gallery stuff */


#gallery {
	height: 360px;
	width: 100%;
	background-color: #ffffff;
}

#gallery p {
text-align: center;
margin-top: 10px;
}




/* Credit Box button section */

.credit-box {
	width: 100%;
	height: 266px;
	background-color: #e8e8e8;
}

.credit-box #button_icon{
	margin-left: 600px;
	margin-top: 30px;
	float: left;
}

.credit-box h1, p {
}

.credit-box #button {
	color: white;
	background-color: #e93038;
	margin: 0 0 0 15px;
	padding: 5px 15px 5px 15px;
}

.credit-box h1 {
	font-weight: 400;
}

.credit-box p {
	margin: 10px 0 0 50px;
}





/* Red Bar */


#red-bar {
	background-color: #e93038;
	width: 100%;
	height: 37px;
	text-align: center;
}

#red-bar p {
	display: inline-block;
	color: white;
	font-family: 'Open Sans';
	margin: 10px 0 0 0;
}





/* Pre-owned Cars */

#pre-owned {
	background-color: #ffffff;
	width: 100%;
	height: 283px;
}

#pre-owned p {
}

/* Toyota bar */


.toyota {
	width: 100%;
	height: 355px;
	background-color: #dddddd;
	font-family: 'Open Sans';
}

.toyota #logo, #heading, #paragraph, #more{
	margin-left: 300px;
	margin-top: 15px;
}

.toyota #truck {
	float: right;
}

.toyota #heading {
	margin: 0 0 8px 300px;
	font-weight: 400;
	font-size: 123.1%;
	font-weight: bold;
}




/* Trying solutions */

.image {
	float: left;
	padding: 12px;
}

.text {
	float: left;
	padding: 12px;
	width: 35%;
	font-weight: bold;
	font-size: 13px;
}